* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./backg.jpg');
    background-size: cover;
}
i {
    font-size: 5em;
}
#choix {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
header {
    font-size: 2em;
    text-align: center;
}
hr {
    margin: 0 auto;
    padding: auto;
    width: 30%;
    justify-content: center;
}
#score {
    margin-top: 5%;
    height: 35vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
footer {

    text-align: center;
}
h3 {
    text-align: center;
}
.container-modal {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 3em;
    text-align: center;
}

.container-modal .modal {
    background-color: #fff;
    width: 80%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}